@import "./styles/colors";
*{
    margin: 0;
    padding: 0;
    font-size: 1em;

}
.header{
    background-color: $purpleslack;
    height: 10em;
    width: 100%;
    color: $whiteslack;
    font-weight: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    &-logo{
        width: 30em;
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        &__slack{
            height: 3em;
            width: 10em;
        }
    }
    &-section{
        width: 40em;
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        &-select{
            color: $whiteslack;
            background-color: $purpleslack;
            border: none;
            width: 8em;
            font-weight: bold;
            }
        &-select:hover{
            cursor: pointer;
        }
        &__link{
                text-decoration: none;                
                color: $whiteslack;
                // margin: 0 10px 0 10px;
        }
        &__link:hover{
                text-decoration: underline;
        }
        }
    &-ayuda{
        width: 35em;
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        &__tipouno{
            text-decoration: none;
            color: $whiteslack;
        }
        &__tipodos{
            text-decoration: none;
            width: 12em;
            height: 2em;
            color: $whiteslack;
            border: solid $whiteslack 1px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        &__tipotres{
            text-decoration: none;
            width: 12em;
            height: 2em;
            color: $whiteslack;
            background-color: $whiteslack;
            color: $purpleslack;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
//TODO: header listo responsive, parte del main lo es tambien, empezar por aqui
/*aqui empiezo el main*/
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 352.5rem;
    width: 100%;
    font-weight: bold;
    background-color: $greyslack;
    &-div1{
        width: 100%;
        background-color: $purpleslack;
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5em;
        &-izq{
            width: 30em;
            height: 20em;
            background-color: $purpleslack;
            font-size: xx-large;
            color: $whiteslack;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__title{
                padding: 0 1em 0.5em 1em;
                font-size: 2em;
            }
            &__button1{
                border: none;
                background-color: $whiteslack;
                color: $purpleslack;
                border-radius: 5px;
                padding: 5px 30px 5px 30px;
                margin: 10px;
                width: 25em;
            }
            &__button1:hover{
                cursor: pointer;
            }
            /*he intentado poner un marcador active pero no me lo detecta, asi que hago dos clases*/
            &__button2{
                border: none;
                background-color: $bluegoogle;
                color: $whiteslack;
                border-radius: 5px;
                padding: 5px 30px 5px 30px;
                margin: 10px;
                width: 25em;
            }
            &__button2:hover{
                cursor: pointer;
            }
            }
        &-der{
            width: 60em;
            height: 35em;
            display: flex;
            justify-content: center;
            align-items: center;
            &__img{
                height: 30em;
            }  
            &__img2{
                height: 25em;
            }
        }
    }
    &-div2{
        width: 100%;
        height: 9em;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: $greyslack;
        gap: 2em;

        &__img{
            height: 7em;
            width: 12em;
            padding: 1em;
            &-active{
                height: 7em;
                width: 7em;
                padding: 1em;
            }
        }
    }
    &-section{
        width: 100%;
        height: 150rem;
        background-color: $greyslack;
        display: flex;
        flex-direction: column;
        &-article{
            width: 100%;
            height: 50em;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10em;
            
            &__img{
                // margin-right: 15em;
                width: 90em;
                height: 50em;
                border-radius: 0 50% 50% 0;
                &--active{
                    border-radius: 50% 0 0 50%;
                    // margin-right: 10em;
                }
            }
            &-title{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 50em;
                height: 30em;
                gap: 3em;
                // margin-right: 10em;
                &__h1{
                    font-size: 3rem;
                }
                &__p{
                    font-size: 2rem;
                    font-weight: lighter;
                }
                &__link{
                    font-size: 2rem;
                    text-decoration: none;
                }
                &__link:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            &--active{
                flex-direction: row-reverse;
                // margin: 0 0 0 10em;
            }
        }
    }
    &-estadisticas{
        background-color:$whiteslack;
        width: 100%;
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &-asideizq{
            width: 30em;
            height: 30em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3em;
            align-items: center;
            &__emo1{
                height: 4em;
                width: 4em;

            }
            &__emo2{
                height: 4em;
                width: 4em;
                align-self: flex-start;

            }
            &__emo3{
                height: 4em;
                width: 4em;
            }    
        }
        &-asideder{
            width: 30em;
            height: 30em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3em;
            align-items: center;
            &__emo1{
                height: 4em;
                width: 4em;
            }
            &__emo2{
                height: 4em;
                width: 4em;
                align-self: flex-end;
            }
            &__emo3{
                height: 4em;
                width: 4em;
            }    
        }
        &-conocerslack{
            width: 40em;
            height: 30em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            gap: 3em;
            &__h1{
                font-size: 3em;
            }
            &__p{
                font-size: 2em;
            }
            &-buttons{
                width: 40em;
                height: 5em;
                display: flex;
                justify-content: space-around;
                align-items: center;
                &__b1{
                    color: $whiteslack;
                    background-color: $purpleslack;
                    border-radius: 5%;
                    height: 3em;
                    width: 20em;
                    text-decoration: none;  
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &__b2{
                    background-color: $whiteslack;
                    color: $purpleslack;
                    border: $purpleslack solid 1px;
                    border-radius: 5%;
                    height: 3em;
                    width: 15em;
                    text-decoration: none; 
                    text-decoration: none;  
                    display: flex;
                    justify-content: center;
                    align-items: center;            
                }
            }
        }
    }
    &-porcentajes{
        width: 100%;
        height: 13rem;
        display: flex;
        justify-content: center;
        margin: 0 auto 150px auto;
        &-80{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 30em;
            height: 13em;
            &__h1{
                font-size: 4em;
                color: $purpleslack;
            }
            &__p{
                font-size: 1.5em;
                font-weight: lighter;
            }
        }
    }
    &-empleado{
        width: 100%;
        height: 28rem;
        display: flex;
        justify-content: center;
        //me ha parecido mejor no usar gap
        &__img{
            width: 40em;
            height: 25em;
            border-radius:  0 45% 45% 0;
            margin-right: 20em;
        }
        &-div{
            display: flex;
            flex-direction: column;
            width: 70em;
            height: 25em;
            gap: 2em;
            justify-content: center;
            text-align: center;
            
            &__p1{
                font-size: 2em;
                font-style: italic;
                font-weight: lighter;
            }
            &__h5{
                font-size: 1.5em;  
            }
            &__p2{
                font-size: 1.5em;
                font-weight: lighter;
            }
            &__link{
                font-size: 1.5em;
                text-decoration: none;
            }
            &__link:hover{
                text-decoration: underline;
            }
        }
    }
    &-aclaracion{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        background-color: $whiteslack;
        &__p{
            font-size: 15px;
            font-weight: none;
            color: grey;
            width: 100%;
            text-align: center;

        }
    }
    &__explorar{
        font-size: 3em;
        background-color: $greyslack;
        text-align: center;
        width: 100%;
        height: 5rem;
    }
    &-cards{
        background-color: $greyslack;
        width: 100%;
        height: 30rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        :hover{
            cursor: pointer;
            transform:scale(1.1);
            transition: 0.5s;
        }
        &-div{
            background-color: $whiteslack;
            width: 13em;
            height: 22em;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1em;
            text-align: center;
            &__card{
                width: 11em;
                height: 11em;
                margin-top: 1em;
            }
            &__group{
                font-size: 1em;
                font-weight: lighter;
                color: grey;
            }
            &__title{
                font-size: 1em;
            }
            &__link{
                text-decoration: none;
            }
            &__link:hover{
                text-decoration: underline;
            }
        }
    }

    &-descubrirSlack{
        background-color: $purpleslack;
        width: 100%;
        height: 12rem;
        border-radius: 0 0 40% 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        &__h1{
            font-size: 2em;
            color: $whiteslack;
            width: 100%;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-buttons{
            width: 100%;
            height: 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3em;
            /*TODO: arreglar el hover para que se activen los borders*/
            &__b1{
                border-radius: 5px;
                background-color: $whiteslack;
                color: $purpleslack;
                text-decoration: none;
                height: 2em;
                width: 15em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__b1:hover{
                box-shadow: inset 2px 2px 0 0 $purpleslack;
            }
            
            &__b2{
                border-radius: 5px;
                color: $whiteslack;
                background-color: $purpleslack;
                border: solid $whiteslack 1px;
                text-decoration: none; 
                height: 2em;      
                width: 25em;   
                display: flex;
                align-items: center;
                justify-content: center;      
            }
            &__b2:hover{
                box-shadow: inset 2px 2px 0 0 $whiteslack;                
            }
        }
    }
    &-questions{
        background-color: $greyslack;
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 1em;
        align-items: flex-start;
        gap: 2em;
        &__logo{
            height: 15em;
            width: 25em;
        }
        &-list{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1em;
            &__title{
                margin-bottom: 1em;
            }
            &__link{
                text-decoration: none;
                color: black;
                font-weight: lighter;
            }
            &__link:hover{
                    color: blue;              
            }
        }
    }
}
/*aqui empieza el footer*/
.footer{
    width: 100%;
    height: 7rem;
    border-top: solid grey 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-asideizq{
        width: 70em;
        height: 4rem;
        display: flex;
        align-items: center;
        &-list{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 1em;
            &__link{
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
            &__link:hover{
                color: blue;
            }
            &-select{
                font-weight: bold;
                &__title{
                    font-weight: bold;
                }
                &__option:hover{
                    text-decoration: underline;
                    color: blue;
                }
            &-select:hover{
                color: blue;
                }
            }
        }

    }
    &-asideder{
        width: 50em;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &-list{
            padding: 10px 150px;
            display: flex;
            list-style: none;
            &__link{
                text-decoration: none;
                color: $bluegoogle;
                margin-right: 15px;
                font-weight: bold;
            }
            &__img{
                margin-right: 15px;
                height: 20px;
                width: 20px;
            }
        }
    }
    &-div{
        display: flex;
        align-items: center;
        height: 3em;
        &__p{    
            color: rgb(73, 72, 72);       
        }
    }
}




