* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.header {
  background-color: #541554;
  height: 10em;
  width: 100%;
  color: white;
  font-weight: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.header-logo {
  width: 30em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo__slack {
  height: 3em;
  width: 10em;
}
.header-section {
  width: 40em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.header-section-select {
  color: white;
  background-color: #541554;
  border: none;
  width: 8em;
  font-weight: bold;
}
.header-section-select:hover {
  cursor: pointer;
}
.header-section__link {
  text-decoration: none;
  color: white;
}
.header-section__link:hover {
  text-decoration: underline;
}
.header-ayuda {
  width: 35em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.header-ayuda__tipouno {
  text-decoration: none;
  color: white;
}
.header-ayuda__tipodos {
  text-decoration: none;
  width: 12em;
  height: 2em;
  color: white;
  border: solid white 1px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-ayuda__tipotres {
  text-decoration: none;
  width: 12em;
  height: 2em;
  color: white;
  background-color: white;
  color: #541554;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*aqui empiezo el main*/
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 352.5rem;
  width: 100%;
  font-weight: bold;
  background-color: #F4EDE4;
}
.main-div1 {
  width: 100%;
  background-color: #541554;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}
.main-div1-izq {
  width: 30em;
  height: 20em;
  background-color: #541554;
  font-size: xx-large;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*he intentado poner un marcador active pero no me lo detecta, asi que hago dos clases*/
}
.main-div1-izq__title {
  padding: 0 1em 0.5em 1em;
  font-size: 2em;
}
.main-div1-izq__button1 {
  border: none;
  background-color: white;
  color: #541554;
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
  margin: 10px;
  width: 25em;
}
.main-div1-izq__button1:hover {
  cursor: pointer;
}
.main-div1-izq__button2 {
  border: none;
  background-color: #4285F4;
  color: white;
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
  margin: 10px;
  width: 25em;
}
.main-div1-izq__button2:hover {
  cursor: pointer;
}
.main-div1-der {
  width: 60em;
  height: 35em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-div1-der__img {
  height: 30em;
}
.main-div1-der__img2 {
  height: 25em;
}
.main-div2 {
  width: 100%;
  height: 9em;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #F4EDE4;
  gap: 2em;
}
.main-div2__img {
  height: 7em;
  width: 12em;
  padding: 1em;
}
.main-div2__img-active {
  height: 7em;
  width: 7em;
  padding: 1em;
}
.main-section {
  width: 100%;
  height: 150rem;
  background-color: #F4EDE4;
  display: flex;
  flex-direction: column;
}
.main-section-article {
  width: 100%;
  height: 50em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
}
.main-section-article__img {
  width: 90em;
  height: 50em;
  border-radius: 0 50% 50% 0;
}
.main-section-article__img--active {
  border-radius: 50% 0 0 50%;
}
.main-section-article-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50em;
  height: 30em;
  gap: 3em;
}
.main-section-article-title__h1 {
  font-size: 3rem;
}
.main-section-article-title__p {
  font-size: 2rem;
  font-weight: lighter;
}
.main-section-article-title__link {
  font-size: 2rem;
  text-decoration: none;
}
.main-section-article-title__link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.main-section-article--active {
  flex-direction: row-reverse;
}
.main-estadisticas {
  background-color: white;
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-estadisticas-asideizq {
  width: 30em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  align-items: center;
}
.main-estadisticas-asideizq__emo1 {
  height: 4em;
  width: 4em;
}
.main-estadisticas-asideizq__emo2 {
  height: 4em;
  width: 4em;
  align-self: flex-start;
}
.main-estadisticas-asideizq__emo3 {
  height: 4em;
  width: 4em;
}
.main-estadisticas-asideder {
  width: 30em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  align-items: center;
}
.main-estadisticas-asideder__emo1 {
  height: 4em;
  width: 4em;
}
.main-estadisticas-asideder__emo2 {
  height: 4em;
  width: 4em;
  align-self: flex-end;
}
.main-estadisticas-asideder__emo3 {
  height: 4em;
  width: 4em;
}
.main-estadisticas-conocerslack {
  width: 40em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 3em;
}
.main-estadisticas-conocerslack__h1 {
  font-size: 3em;
}
.main-estadisticas-conocerslack__p {
  font-size: 2em;
}
.main-estadisticas-conocerslack-buttons {
  width: 40em;
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-estadisticas-conocerslack-buttons__b1 {
  color: white;
  background-color: #541554;
  border-radius: 5%;
  height: 3em;
  width: 20em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-estadisticas-conocerslack-buttons__b2 {
  background-color: white;
  color: #541554;
  border: #541554 solid 1px;
  border-radius: 5%;
  height: 3em;
  width: 15em;
  text-decoration: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-porcentajes {
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: center;
  margin: 0 auto 150px auto;
}
.main-porcentajes-80 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 30em;
  height: 13em;
}
.main-porcentajes-80__h1 {
  font-size: 4em;
  color: #541554;
}
.main-porcentajes-80__p {
  font-size: 1.5em;
  font-weight: lighter;
}
.main-empleado {
  width: 100%;
  height: 28rem;
  display: flex;
  justify-content: center;
}
.main-empleado__img {
  width: 40em;
  height: 25em;
  border-radius: 0 45% 45% 0;
  margin-right: 20em;
}
.main-empleado-div {
  display: flex;
  flex-direction: column;
  width: 70em;
  height: 25em;
  gap: 2em;
  justify-content: center;
  text-align: center;
}
.main-empleado-div__p1 {
  font-size: 2em;
  font-style: italic;
  font-weight: lighter;
}
.main-empleado-div__h5 {
  font-size: 1.5em;
}
.main-empleado-div__p2 {
  font-size: 1.5em;
  font-weight: lighter;
}
.main-empleado-div__link {
  font-size: 1.5em;
  text-decoration: none;
}
.main-empleado-div__link:hover {
  text-decoration: underline;
}
.main-aclaracion {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: white;
}
.main-aclaracion__p {
  font-size: 15px;
  font-weight: none;
  color: grey;
  width: 100%;
  text-align: center;
}
.main__explorar {
  font-size: 3em;
  background-color: #F4EDE4;
  text-align: center;
  width: 100%;
  height: 5rem;
}
.main-cards {
  background-color: #F4EDE4;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main-cards :hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}
.main-cards-div {
  background-color: white;
  width: 13em;
  height: 22em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  text-align: center;
}
.main-cards-div__card {
  width: 11em;
  height: 11em;
  margin-top: 1em;
}
.main-cards-div__group {
  font-size: 1em;
  font-weight: lighter;
  color: grey;
}
.main-cards-div__title {
  font-size: 1em;
}
.main-cards-div__link {
  text-decoration: none;
}
.main-cards-div__link:hover {
  text-decoration: underline;
}
.main-descubrirSlack {
  background-color: #541554;
  width: 100%;
  height: 12rem;
  border-radius: 0 0 40% 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-descubrirSlack__h1 {
  font-size: 2em;
  color: white;
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-descubrirSlack-buttons {
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  /*TODO: arreglar el hover para que se activen los borders*/
}
.main-descubrirSlack-buttons__b1 {
  border-radius: 5px;
  background-color: white;
  color: #541554;
  text-decoration: none;
  height: 2em;
  width: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-descubrirSlack-buttons__b1:hover {
  box-shadow: inset 2px 2px 0 0 #541554;
}
.main-descubrirSlack-buttons__b2 {
  border-radius: 5px;
  color: white;
  background-color: #541554;
  border: solid white 1px;
  text-decoration: none;
  height: 2em;
  width: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-descubrirSlack-buttons__b2:hover {
  box-shadow: inset 2px 2px 0 0 white;
}
.main-questions {
  background-color: #F4EDE4;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1em;
  align-items: flex-start;
  gap: 2em;
}
.main-questions__logo {
  height: 15em;
  width: 25em;
}
.main-questions-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.main-questions-list__title {
  margin-bottom: 1em;
}
.main-questions-list__link {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
.main-questions-list__link:hover {
  color: blue;
}

/*aqui empieza el footer*/
.footer {
  width: 100%;
  height: 7rem;
  border-top: solid grey 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-asideizq {
  width: 70em;
  height: 4rem;
  display: flex;
  align-items: center;
}
.footer-asideizq-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1em;
}
.footer-asideizq-list__link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.footer-asideizq-list__link:hover {
  color: blue;
}
.footer-asideizq-list-select {
  font-weight: bold;
}
.footer-asideizq-list-select__title {
  font-weight: bold;
}
.footer-asideizq-list-select__option:hover {
  text-decoration: underline;
  color: blue;
}
.footer-asideizq-list-select-select:hover {
  color: blue;
}
.footer-asideder {
  width: 50em;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-asideder-list {
  padding: 10px 150px;
  display: flex;
  list-style: none;
}
.footer-asideder-list__link {
  text-decoration: none;
  color: #4285F4;
  margin-right: 15px;
  font-weight: bold;
}
.footer-asideder-list__img {
  margin-right: 15px;
  height: 20px;
  width: 20px;
}
.footer-div {
  display: flex;
  align-items: center;
  height: 3em;
}
.footer-div__p {
  color: rgb(73, 72, 72);
}/*# sourceMappingURL=styles.css.map */